.coverpage img {
  max-height: 100%;
}
.titlepage, h1, h2, h3, h4, h5, h6 {
  hyphens: manual;
  -webkit-hyphens: manual;
  line-height: 1.15;
}
.titlepage, .titlepage h1, .titlepage h2 {
  text-align: center;
}
.titlepage h1 {
  font-size: 3em;
  margin: 1em 0 0;
}
.titlepage h2 {
  font-size: 2em;
  margin: 0.25em 0 0;
}
.titlepage .author {
  margin: 4em 0 0;
  font-size: 1.5em;
  font-weight: bold;
}
.toc ol {
  list-style: none;
  margin: 0;
}
.toc > ol {
  padding: 0;
}
hr {
  width: 5em;
  height: 1px;
  background: currentColor;
  border: 0;
  margin: 2em auto;
}
[hidden] {
  display: none;
}
